/**
 * @file
 * File Dropzone CSS styles.
 */

/* Reset some dropzone.css styles. */
.form-wrapper.dropzone {
  border: initial;
  background: initial;
  padding: initial;
}

.form-wrapper.dropzone, .form-wrapper.dropzone * {
  box-sizing: initial;
}

.form-wrapper.dropzone .dz-preview > * {
  box-sizing: border-box;
}

.dropzone .dz-preview .dz-error-message {
  width: auto;
  min-width: 300px;
  top: 145px;
}

.dropzone .dz-message {
  border-top: 2px solid #ccc;
  padding-top: 2em;
}

/* Hide removed files while they are being processed by the server. */
.dz-preview[drupal-dropzone-remove="1"] {
  display: none;
}
